/* Front page gallery */

.gallery-heading h1{
    text-align: center;
}

.card{
    border-radius: 10px;
    box-shadow: 1px 1px gainsboro;
}

.card img{
	border-radius: 10px;
}

/* Demonstration */

.demo-headings h1{
    text-align: center;
}

.demo-headings h2{
    text-align: center;
}

.col-sm{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.col-sm img{
    margin-top: 15px;
}

.container-fluid-1 img{
    display: block;
    margin: auto;
}

/* Line Decoration */

.line-dec-1{
    max-width: 900px;
    height: 3px;
    background-color: coral;
    margin: 20px 0;
    margin: auto;
}






