/* Front page gallery */

.gallery-heading h1{
    text-align: center;
}

.card{
    border-radius: 10px;
    box-shadow: 1px 1px gainsboro;
}

.card img{
	border-radius: 10px;
}

/* Demonstration */

.demo-heading h1{
    text-align: center;
}

.container-shirt{
    width: 100%;
    background-color: azure;
    padding: 15px;
}

.container-shirt h2{
    text-align: center;
}

.container-dress{
    width: 100%;
    background-color: blanchedalmond;
    padding: 15px;
}

/* Line Decoration */

.line-dec-1{
    max-width: 900px;
    height: 3px;
    background-color: coral;
    margin: 20px 0;
    margin: auto;
}





